body {
  background-color: #fff3c4;
}

.hands {
  margin: auto;
  margin-top: 60px;
  width: 50%;
  padding: 10px;
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.hand {
  width: 200px;
  height: 200px;
  transition: 0.2s;
}

.hand:hover {
  transform: scale(1.1);
}

.scale {
  transform: scale(1.2);
  transition: 0.1s;
}
